<nz-card [nzBordered]="false" class="form">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()">
    <div nz-row>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">手机号/账号</nz-form-label>
          <nz-form-control>
            <input nz-input name="no" placeholder="请输入">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">姓名</nz-form-label>
          <nz-form-control>
            <input nz-input name="no" placeholder="请输入">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">性别</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="请选择">
              <nz-option nzValue="all" nzLabel="全部"></nz-option>
              <nz-option nzValue="male" nzLabel="男"></nz-option>
              <nz-option nzValue="female" nzLabel="女"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">证件号码</nz-form-label>
          <nz-form-control>
            <input nz-input name="no" placeholder="请输入">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">状态</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="请选择">
              <nz-option nzValue="all" nzLabel="全部"></nz-option>
              <nz-option nzValue="male" nzLabel="启用"></nz-option>
              <nz-option nzValue="female" nzLabel="禁用"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">人员类别</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="请选择">
              <nz-option nzValue="all" nzLabel="所有类型"></nz-option>
              <nz-option nzValue="male" nzLabel="学员"></nz-option>
              <nz-option nzValue="female" nzLabel="师资"></nz-option>
              <nz-option nzValue="female" nzLabel="护理人员"></nz-option>
              <nz-option nzValue="female" nzLabel="医师/其他"></nz-option>
              <nz-option nzValue="female" nzLabel="机构管理员"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">身份类型</nz-form-label>
          <nz-form-control>
            <input nz-input name="no" placeholder="请输入">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">参培年份</nz-form-label>
          <nz-form-control>
            <input nz-input name="no" placeholder="请输入">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">所在专业</nz-form-label>
          <nz-form-control>
            <nz-tree-select
              [nzNodes]="subjects"
              nzShowSearch
              nzCheckable
              name="value"
              [(ngModel)]="subject"
              nzPlaceHolder="请选择所在专业"
              (ngModelChange)="onChange($event)">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="no">产品角色</nz-form-label>
          <nz-form-control>
            <nz-tree-select
              [nzNodes]="roles"
              nzShowSearch
              nzCheckable
              name="value"
              [(ngModel)]="role"
              nzPlaceHolder="请选择产品角色"
              (ngModelChange)="onChange($event)">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm" class="search">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </div>
    </div>
  </form>
  <nz-table #columnTable nzSize="middle" [nzTitle]="title" [nzData]="listOfData" [nzScroll]="{x:'100rem'}">
    <thead>
    <tr>
      <th nzWidth="2rem" nzLeft="0" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
          (nzCheckedChange)="checkAll($event)"></th>
      <th nzWidth="8rem" nzLeft="2rem">手机号</th>
      <th nzWidth="6rem">姓名</th>
      <th>所在部门</th>
      <th>人员类别</th>
      <th>身份类型</th>
      <th>所在专业</th>
      <th>参培年份</th>
      <th>系统角色</th>
      <th>用户名</th>
      <th>住培角色</th>
      <th>考试角色</th>
      <th>360角色</th>
      <th>状态</th>
      <th nzWidth="20rem" nzRight="0">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of columnTable.data">
      <td nzLeft="0" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
      <td nzLeft="2rem">{{data.phone}}</td>
      <td>{{data.name}}</td>
      <td>{{data.department}}</td>
      <td>{{data.duty}}</td>
      <td>{{data.idType}}</td>
      <td>{{data.subject}}</td>
      <td>{{data.year}}</td>
      <td>{{data.role}}</td>
      <td>{{data.account}}</td>
      <td>{{data.rstRole}}</td>
      <td>{{data.examRole}}</td>
      <td>{{data.auditRole}}</td>
      <td>{{data.status}}</td>
      <td nzRight="0">
        编辑
        <nz-divider nzType="vertical"></nz-divider>
        重置密码
        <nz-divider nzType="vertical"></nz-divider>
        禁用
        <nz-divider nzType="vertical"></nz-divider>
        移除
        <nz-divider nzType="vertical"></nz-divider>
        分配角色
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">描述</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="description" name="description" placeholder="请输入">
    </nz-form-control>
  </nz-form-item>
</ng-template>
<ng-template #title>
  <div class="operation">
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>删除</span>
    </button>
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>分配角色</span>
    </button>
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>导出</span>
    </button>
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>新建用户</span>
    </button>
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>导入</span>
    </button>
    <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
      <span>下载模版</span>
    </button>
  </div>
</ng-template>


