.form {
  nz-select, input {
    width: 9rem;
  }

  nz-tree-select {
    width: 25.2rem;
  }

  nz-form-label {
    width: 6em;
  }

  .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .mx-sm {
      margin: 0 .5rem;
    }
  }

  .operation {
    button {
      margin: .5rem;
    }
  }

}

